HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/out/production/PlayVideoService/com/ligg/admin/config/AdminExceptionHandler.class
/out/production/PlayVideoService/com/ligg/admin/config/JwtConfig.class
/out/production/PlayVideoService/com/ligg/admin/controller/AdminController.class
/out/production/PlayVideoService/com/ligg/admin/controller/AdminVideoController.class
/out/production/PlayVideoService/com/ligg/admin/controller/StatsController.class
/out/production/PlayVideoService/com/ligg/admin/controller/UploadVideoController.class
/out/production/PlayVideoService/com/ligg/admin/dto/AdminInfoDTO.class
/out/production/PlayVideoService/com/ligg/admin/dto/AdminLoginDTO.class
/out/production/PlayVideoService/com/ligg/admin/entity/AdminUser.class
/out/production/PlayVideoService/com/ligg/admin/mapper/AdminStatsMapper.class
/out/production/PlayVideoService/com/ligg/admin/mapper/AdminUserMapper.class
/out/production/PlayVideoService/com/ligg/admin/mapper/AdminVideoMapper.class
/out/production/PlayVideoService/com/ligg/admin/service/impl/AdminStatsServiceImpl.class
/out/production/PlayVideoService/com/ligg/admin/service/impl/AdminUserServiceImpl.class
/out/production/PlayVideoService/com/ligg/admin/service/impl/AdminVideoServiceImpl.class
/out/production/PlayVideoService/com/ligg/admin/service/AdminStatsService.class
/out/production/PlayVideoService/com/ligg/admin/service/AdminUserService.class
/out/production/PlayVideoService/com/ligg/admin/service/AdminVideoService.class
/out/production/PlayVideoService/com/ligg/admin/utils/JwtUtils.class
/out/production/PlayVideoService/com/ligg/admin/utils/MD5Utils.class
/out/production/PlayVideoService/com/ligg/admin/utils/PasswordGenerator.class
/out/production/PlayVideoService/com/ligg/common/Result.class
/out/production/PlayVideoService/com/ligg/config/RedisConfig.class
/out/production/PlayVideoService/com/ligg/config/ResourceConfiguration.class
/out/production/PlayVideoService/com/ligg/config/WebConfig.class
/out/production/PlayVideoService/com/ligg/config/WebMvcConfig.class
/out/production/PlayVideoService/com/ligg/controller/user/UserController.class
/out/production/PlayVideoService/com/ligg/controller/AccountController.class
/out/production/PlayVideoService/com/ligg/controller/CommentController.class
/out/production/PlayVideoService/com/ligg/controller/VideoController.class
/out/production/PlayVideoService/com/ligg/entity/Comment.class
/out/production/PlayVideoService/com/ligg/entity/User.class
/out/production/PlayVideoService/com/ligg/entity/Video.class
/out/production/PlayVideoService/com/ligg/interceptor/JwtAuthenticationInterceptor.class
/out/production/PlayVideoService/com/ligg/mapper/CommentMapper.class
/out/production/PlayVideoService/com/ligg/mapper/UserMapper.class
/out/production/PlayVideoService/com/ligg/mapper/VideoMapper.class
/out/production/PlayVideoService/com/ligg/service/impl/CommentServiceImpl.class
/out/production/PlayVideoService/com/ligg/service/impl/UserServiceImpl.class
/out/production/PlayVideoService/com/ligg/service/impl/VideoServiceImpl.class
/out/production/PlayVideoService/com/ligg/service/CommentService.class
/out/production/PlayVideoService/com/ligg/service/UserService.class
/out/production/PlayVideoService/com/ligg/service/VideoService.class
/out/production/PlayVideoService/com/ligg/util/JwtTokenUtil.class
/out/production/PlayVideoService/com/ligg/util/PasswordEncoder.class
/out/production/PlayVideoService/com/ligg/util/RedisUtil.class
/out/production/PlayVideoService/com/ligg/util/ResponseResult.class
/out/production/PlayVideoService/com/ligg/util/TokenUtil.class
/out/production/PlayVideoService/com/ligg/PlayVideoServiceApplication.class
/out/production/PlayVideoService/mapper/AdminStatsMapper.xml
/out/production/PlayVideoService/mapper/AdminUserMapper.xml
/out/production/PlayVideoService/mapper/AdminVideoMapper.xml
/out/production/PlayVideoService/mapper/CommentMapper.xml
/out/production/PlayVideoService/mapper/UserMapper.xml
/out/production/PlayVideoService/mapper/VideoMapper.xml
/out/production/PlayVideoService/application.yml
