<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.admin.mapper.AdminLogMapper">
    
    <resultMap id="BaseResultMap" type="com.ligg.admin.entity.AdminLog">
        <id column="id" property="id" />
        <result column="admin_id" property="adminId" />
        <result column="operation" property="operation" />
        <result column="content" property="content" />
        <result column="ip" property="ip" />
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <insert id="insert" parameterType="com.ligg.admin.entity.AdminLog">
        INSERT INTO admin_log (
            admin_id, operation, content, ip
        ) VALUES (
            #{adminId}, #{operation}, #{content}, #{ip}
        )
    </insert>
    
</mapper> 