<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.admin.mapper.AdminVideoMapper">

    <!-- 统计符合条件的视频数量 -->
    <select id="countAllVideos" resultType="int">
        <if test="status == null or status == ''">
            SELECT 
                (SELECT COUNT(*) FROM video 
                <if test="keyword != null and keyword != ''">
                    WHERE (title LIKE CONCAT('%', #{keyword}, '%') OR description LIKE CONCAT('%', #{keyword}, '%'))
                </if>
                ) +
                (SELECT COUNT(*) FROM draft_video
                <if test="keyword != null and keyword != ''">
                    WHERE (title LIKE CONCAT('%', #{keyword}, '%') OR description LIKE CONCAT('%', #{keyword}, '%'))
                </if>
                )
        </if>
        <if test="status != null and status != ''">
            <choose>
                <when test="status == 2">
                    SELECT COUNT(*) FROM draft_video
                    <where>
                        status = #{status}
                        <if test="keyword != null and keyword != ''">
                            AND (title LIKE CONCAT('%', #{keyword}, '%') OR description LIKE CONCAT('%', #{keyword}, '%'))
                        </if>
                    </where>
                </when>
                <otherwise>
                    SELECT COUNT(*) FROM video
             +       <where>
                        status = #{status}
                        <if test="keyword != null and keyword != ''">
                            AND (title LIKE CONCAT('%', #{keyword}, '%') OR description LIKE CONCAT('%', #{keyword}, '%'))
                        </if>
                    </where>
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 获取视频详情 -->
    <select id="selectVideoById" resultType="java.util.HashMap">
        SELECT
            v.id, v.title, v.description, v.video_path as videoPath, v.video_url as videoUrl,
            v.cover_path as coverPath, v.cover_url as coverUrl, v.duration, v.category,
            v.create_time as createTime, v.update_time as updateTime, v.tags
        FROM
            (
                SELECT 
                    id,
                    title COLLATE utf8mb4_general_ci as title,
                    description COLLATE utf8mb4_general_ci as description,
                    video_path COLLATE utf8mb4_general_ci as video_path,
                    video_url COLLATE utf8mb4_general_ci as video_url,
                    cover_path COLLATE utf8mb4_general_ci as cover_path,
                    cover_url COLLATE utf8mb4_general_ci as cover_url,
                    duration,
                    category COLLATE utf8mb4_general_ci as category,
                    create_time,
                    update_time,
                    tags COLLATE utf8mb4_general_ci as tags
                FROM video WHERE id = #{id}
            ) v
        LIMIT 1
    </select>
    <select id="selectAllVideos" resultType="java.util.Map">
        select *
        from video
    </select>

    <!-- 审核草稿视频 -->
    <update id="updateDraftVideoStatus">
        UPDATE draft_video
        SET 
            status = #{status},
            <if test="rejectReason != null and rejectReason != ''">
                reject_reason = #{rejectReason},
            </if>
            update_time = #{updateTime}
        WHERE 
            id = #{id}
    </update>


    <!-- 插入视频 -->
    <insert id="insert">
        insert into video(title,description,video_path,video_url,cover_path,cover_url,
                          duration,category,tags,create_time,update_time)
        values(#{title},#{description},#{videoPath},#{videoUrl},#{coverPath},#{coverUrl},
              #{duration},#{category},#{tags},NOW(),NOW())
    </insert>

    <!-- 删除视频 -->
    <delete id="deleteVideo">
        DELETE FROM video WHERE id = #{id}
    </delete>


</mapper> 