<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ligg.mapper.CommentLikeMapper">
    
    <!-- 插入点赞记录 -->
    <insert id="insert" parameterType="com.ligg.entity.CommentLike" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment_like (
            comment_id, user_id, create_time
        ) VALUES (
            #{commentId}, #{userId}, #{createTime}
        )
    </insert>
    
    <!-- 删除点赞记录 -->
    <delete id="delete">
        DELETE FROM comment_like
        WHERE comment_id = #{commentId} AND user_id = #{userId}
    </delete>
    
    <!-- 检查用户是否已点赞 -->
    <select id="countByCommentIdAndUserId" resultType="int">
        SELECT COUNT(*)
        FROM comment_like
        WHERE comment_id = #{commentId} AND user_id = #{userId}
    </select>
    
</mapper> 